html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;

  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0px;
  padding: 25px;
  background-image: url(https://i.pinimg.com/1200x/f8/d2/4a/f8d24a3aabc0d8095c712d70afa549fe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
header {
  text-align: right;
}

#co-name {
  font-size: larger;
  margin: 0px;
  display: inline-block;
  color: #0088ff;
}
.nav-bar {
  margin: auto;

  display: flex;
  gap: 14px;
  padding: 10px 16px;
  border-radius: 30px;
}
.nav {
  font-family: 'Lexend Deca', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
  border-color: #0088ff;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  letter-spacing: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 50px;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 0 10px 25px #0088ff50;
  white-space: nowrap;
      transition: 0.3s;
}
.nav:hover {
    transform: scale(1.3);
    transition: 0.3s;

 
  color: rgb(0, 0, 0);
  background-color: white;
 
  animation: forwards;
}

.img {
  display: inline-block;
}
#pfp {
  width: 500px;
  border-radius: 100%;
  margin-top: 60px;
  margin-left: 120px;
  display: inline-block;
}
.intro {
  display: inline-block;
  vertical-align: top;
  font-size: larger;
  margin-left: 50px;
  margin-top: 70px;
}
#pre-name {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 80px;
  margin-bottom: 0px;
}
#name {
  font-family: 'Zen Dots', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #0088ff;
}
.about-card {
  display: flex;
}
.about-me {
  display: flex;
  backdrop-filter: blur(3px);
  display: flex;
  margin: auto;
  border-style: none;
  width: 800px;
  font-family: 'Lexend Deca';
  margin-top: 150px;
  border-radius: 50px;
  padding-right: 10px;
  box-shadow: 0 0px 25px #0088ff50;
  transition: 0.5s;
  border-style: solid;
  border-color: #0088ff;
  border-width: 0.2px;
}

.about-me:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.about-me-title {
  margin: auto;
}
#me {
  margin: 20px;

  font-size: 50px;
  font-family: 'Lexend Deca', sans-serif;
  box-shadow: 0 0px 25px #ffffff50;
  border-radius: 50px;
  width: 350px;
  text-align: center;
  border-style: solid;
  border-color: #ffffff5d;
  border-width: 0.01px;

  height: 70px;
}

#desc {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  word-spacing: 4px;
}

.section {
  backdrop-filter: blur(3px);
  font-size: 50px;
  font-family: 'Lexend Deca', sans-serif;
  box-shadow: 0 0px 25px #ffffff50;
  border-radius: 50px;
  border: 0.01px solid #ffffff5d;
  height: 70px;
  padding: 0 50px;
  line-height: 70px;
  display: block;
  width: fit-content;
  margin: 70px;
  text-align: center;
      transition: 0.3s;
}
.section:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

.skills {
  display: grid;

  
  gap: 60px;

  justify-content: center;
  padding: 0 20px;

  flex-direction: column; 
  align-items: center; 
}
.cards {
  backdrop-filter: blur(3px);
  width: auto;
  height: auto;
  margin: auto;

  border-radius: 50px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0px 25px #0088ff50;
  transition: 0.5s;
  border: 0.2px solid #0088ff;
  font-family: 'Lexend Deca';

}
.cards:hover{
    transform: scale(1.1);
    transition: 0.3s;

}
.tech {
  display: flex;
  justify-content: center;
  align-items: center; 

  margin: 50px;
}

.top-card {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  margin-bottom: 50px;
}
.icons {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  
}
.icons-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  padding: 10px;
  background: rgba(0, 132, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(0, 132, 255, 0.268);
  transition: 0.25s;
}
.icons-img:hover {
  transform: scale(1.2);
  transition: 0.25s;
  background: #0088ff;
  box-shadow: 0 4px 30px rgba(0, 38, 255, 0.1);
}
.complete-sec {
  display: flex;
  grid-template-columns: 1fr;
  justify-content: center;
}
.achiev-tab {
  display: grid;
}

.hoz-card {
  backdrop-filter: blur(4px);
  display: flex;
  width: auto;
  margin: 50px;
  box-shadow: 0 0px 25px #0088ff50;
  transition: 0.5s;
  border: 1.5px solid #0088ff;
  height: auto;
  justify-content: center;
  border-radius: 50px;
}
.hoz-card:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.side-name-dzn {
  display: flex;
  height: auto;
  border-style: solid;
  margin-bottom: 40px;
  margin-top: 40px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  box-shadow: rgba(100, 100, 111, 0.516) 0px 7px 29px 0px;
  border-radius: 50px;
  border-color: #888888;
  border-width: 0.2px;
  justify-content: center;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}
.side-name {
  color: #ffffff;
  margin: 0px;
  font-size: 50px;
  height: auto;
  justify-content: center;
  padding: 0 px;
  width: auto;
  font-family: 'Lexend Deca';
}

.platform {
  
  width: 100%;
}
.plat-logo {
  width: 200px;
  margin: auto;
  padding-left: 20px;
}
.plat {
  padding-left: 20px;
  width: 250px;

  border-color: #0088ff;
  border-style: solid;
  border-width: 0.5px;
  margin: 30px;
  height: auto;

  border-radius: 40px;
  box-shadow: 0 10px 25px #0088ff50;
  transition: 0.3s;
}
.plat:hover{
    transform:scale(1.1);
    transition: 0.3s;
}
.certi {
  width: 200px;
  margin-left: 30px;
  margin-right: 30px;
}
.certi-bg {
  margin: 30px;
  box-shadow: 0 10px 25px #0088ff50;
  margin: auto;
  border-radius: 30px;
  border-color: #0088ff;
  border-style: solid;
  border-width: 0.5px;
  margin: 30px;
  transition: 0.3s;
  
  
}
.certi-bg:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.img-sec {
  display: block;
}
.pre-img {
  width: 300px;
}
.certi-text {
  font-family: 'Lexend Deca';
  color: white;
text-align: center;
}
.clud-top {
  color: #ffffff;
  margin: 40px;
  font-size: 50px;
  height: auto;
  text-align: center;
  width: auto;
  font-family: 'Lexend Deca';

  border-style: solid;
  box-shadow: rgba(100, 100, 111, 0.516) 0px 7px 29px 0px;
  border-radius: 50px;
  border-color: #888888;
  border-width: 1.5px;
}
.club-details {
  display: flex;
  margin: 20px;
  justify-content: center;
}
.ex-card {
  box-shadow: 0 0px 25px #0088ff50;
  transition: 0.5s;
  border-style: solid;
  border-color: #0088ff;
  border-width: 1.5px;
  height: auto;
  border-radius: 20px;
  display: flex;
  width: auto;
  margin: auto 50px;
  transition: 0.3s;
  backdrop-filter: blur(3px);
  margin-bottom: 50px;
}
.club-card {
  backdrop-filter: blur(4px);

  width: auto;
  margin: 20px;
  box-shadow: 0 0px 25px #0088ff50;
  transition: 0.5s;
  border: 1.5px solid #0088ff;
  height: auto;
  justify-content: center;
  border-radius: 50px;
  transition: 0.3s;
}
.club-card:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.ex-card:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.ex-logo {
  width: 120px;
  box-shadow: 0 0px 25px #0088ff50;
  transition: 0.5s;
  border-style: solid;
  border-color: #0088ff;
  border-width: 1.5px;
  margin: 10px;
  border-radius: 20px;
}
.ex-logo:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.pos-title {
  font-family: 'Lexend Deca';
  width: 150px;
}
.verify {
  color: white;
  font-style: normal;
  font-family: 'Lexend Deca';
  border-style: solid;
  display: block;
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
  border-radius: 20px;
  border-width: 1.5px;
  height: 20px;
  box-shadow: rgba(100, 100, 111, 0.516) 0px 7px 29px 0px;
  background-color: #0088ff;
  transition: 0.5s;
}
.verify:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.full-contact-sec {
  display: flex;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  justify-content: flex-start;
}
.vertical-line {
  border-left: 2px solid #0088ff;
  height: 200px;
  height: auto;
  margin: 52px;
}

.urls {
  flex: 1;

  text-align: center;
  align-items: center;
  margin: auto 40px;
  width: 100%;
}
.messeging {
  flex: 1;
  width: 100%;
}
.msg-tit {
  text-align: center;
}
.sender-name {
  padding-left: 10px;
  width: 100%;
  box-sizing: border-box;

  box-shadow: 0 0px 25px #0088ff50;

  border-style: solid;
  border-color: #0088ff;
  border-width: 1.5px;
  height: 40px;
  text-align: left;
  resize: none;
  line-height: 1.4;
  background-color: rgb(45, 44, 44);
  color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}
.msg {
  padding-left: 10px;
  width: 100%;
  box-sizing: border-box;

  box-shadow: 0 0px 25px #0088ff50;

  border-style: solid;
  border-color: #0088ff;
  border-width: 1.5px;
  height: 100px;
  text-align: left;
  resize: none;
  line-height: 1.4;
  background-color: rgb(45, 44, 44);
  color: white;
  border-radius: 10px;
}
.send {
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.send-but {
  width: 400px;
  height: 40px;
  font-family: 'Lexend Deca';
  font-size: 25px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0088ff;
  border-style: solid;
  box-sizing: border-box;
  border-color: #ffffff;
}
.send-but:hover {
  background-color: #0051ff;
}
.send-but:active {
  opacity: 0.7;
}
.projects {
  font-family: 'Lexend Deca';
  justify-content: center;
  margin: auto;
  text-align: center;
}
.card-contact {
  display: flex;
  font-family: 'Lexend Deca';
  border-style: solid;
  box-shadow: 0 0px 25px #0088ff50;
  transition: 0.5s;
  border-style: solid;
  border-color: #0088ff;
  border-width: 1.5px;
  backdrop-filter: blur(3px);
  border-radius: 50px;
}
footer {
  margin-top: 50px;
  height: 10px;
}
/*  DON'T TOUCH THIS SETTINGS */
@media (max-width: 768px) {
  .nav-bar {
    justify-content: center;
    gap: 8px;
    padding-left: 400px;
  }
  .nav {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 3px;
    margin-right: 3px;
    letter-spacing: 1px;
  }
  
  .cards{
    margin-left: 200px;
    width:200%;
  }
    body {
    padding: 10px;
  }
  header {
    text-align: center;
  }
  .section{
    margin-left:550px;
  }
  
}

@media (min-width: 769px) {
  .nav-bar {
    justify-content: flex-end;
  }
}
